<app-header></app-header>
<div class="main" fxLayout="column" fxLayoutGap="24px" fxLayoutAlign="center center">
  <div class="section-1" fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="12px" fxLayoutAlign="center center">
    <app-upload-box fxFlex (select)="onFileSelect($event)"></app-upload-box>
    <app-size-selector fxFlex (select)="onSizeSelect($event)"></app-size-selector>
  </div>
  <button mat-stroked-button (click)="uploadFiles()" [disabled]="!resizeForm.valid" color="primary">Request Upload Urls</button>
  <button mat-stroked-button (click)="resizeFiles()" *ngIf="uploadUrls.length" color="primary">Resize Files</button>
</div>
