<div fxLayout="column" class="file-list-in-process" fxLayoutGap="12px">
  <div class="file-in-process" *ngFor="let file of files" fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayoutAlign="start start" fxLayoutGap="24px" fxFlex="70">
      <img
        src="{{filesObject[file.fileId].fileUrl}}"
        alt="{{extractFileName(file)}}"
        height="75px"
        width="75px">
      <div class="details">
        <h2>{{extractFileName(file)}}</h2>
        <span>{{filesObject[file.fileId].status}}</span>
      </div>
    </div>
    <div>
      <a
        href="{{filesObject[file.fileId].fileUrl}}"
        *ngIf="filesObject[file.fileId].status==='Success'"
        download
        mat-mini-fab
        color="primary">
        <mat-icon>download</mat-icon>
      </a>
    </div>
  </div>
</div>
